.app {
  min-height: 100vh;
  height: max-content;
  position: relative;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  display: flex;

  .main {
    min-height: 100vh;
    width: 100vw;
  }
}
