@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/functions.scss';

.information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 20px;

  @media (max-width: '820px') {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .titleWrapper {
    margin: 10px 0px 10px 8px;

    .title {
      @include font('Lato', 20, 24, 600);
      color: colors('orange');
    }

    .subtitle {
      @include font('Lato', 16, 20, 400);
      color: colors('grey');
    }
  }

  .infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 10px;

    .wrapperIcons {
      display: flex;
      flex-direction: row;
      gap: 5px;

      @media (max-width: '820px') {
        gap: 1px;
      }

      .icons {
        display: flex;
        flex-direction: column;
        align-items: center;

        .quantity {
          @include font('Lato', 14, 16, 400);
          color: colors('grey');
        }
      }
    }

    .price {
      @include font('Lato', 28, 36, 1000);
      color: colors('grey');

      @media (max-width: '820px') {
        @include font('Lato', 22, 24, 1000);
      }
    }

    .button {
      @include button;
    }
  }
}